.error {
  color: #fc8181;
  font-size: 0.75rem;
  text-align: left;
  margin-top: 0.15rem;
  margin-bottom: 0.25rem;
}

.signup_section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.signup_form {
  width: 400px;
  padding: 40px;
  border-radius: 20px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.signup_form h2 {
  color: rgb(0, 211, 141);
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
}

.form_field {
  margin-bottom: 20px;
}

.form_field label {
  color: rgb(0, 211, 141);
  font-size: 16px;
  margin-bottom: 8px;
  display: block;
}

.form_field input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.4);
  color: #fff;
}

.form_field input::placeholder {
  color: #fff;
  opacity: 0.8;
}

.bbutton {
  width: 100%;
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: rgb(0, 211, 141);
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.bbutton:hover {
  background-color: #0c8;
}

.errorHandles {
  color: red;
  text-align: center;
  font-size: 14px;
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.wrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom_loader {
  --R: 60px;
  --g1: #070503 96%, #0000;
  --g2: #15ed7d 96%, #0000;
  width: calc(2 * var(--R));
  height: calc(2 * var(--R));
  border-radius: 50%;
  display: grid;
  -webkit-mask: linear-gradient(#000 0 0);
  animation: s10 1s infinite linear;
  z-index: 10;
}

.custom_loader::before,
.custom_loader::after {
  content: "";
  grid-area: 1/1;
  width: 50%;
  background: radial-gradient(farthest-side, var(--g1))
      calc(var(--R) + 0.866 * var(--R) - var(--R))
      calc(var(--R) - 0.5 * var(--R) - var(--R)),
    radial-gradient(farthest-side, var(--g1))
      calc(var(--R) + 0.866 * var(--R) - var(--R))
      calc(var(--R) - 0.5 * var(--R) - var(--R)),
    radial-gradient(farthest-side, var(--g2))
      calc(var(--R) + 0.5 * var(--R) - var(--R))
      calc(var(--R) - 0.866 * var(--R) - var(--R)),
    radial-gradient(farthest-side, var(--g1)) 0 calc(-1 * var(--R)),
    radial-gradient(farthest-side, var(--g2))
      calc(var(--R) - 0.5 * var(--R) - var(--R))
      calc(var(--R) - 0.866 * var(--R) - var(--R)),
    radial-gradient(farthest-side, var(--g1))
      calc(var(--R) - 0.866 * var(--R) - var(--R))
      calc(var(--R) - 0.5 * var(--R) - var(--R)),
    radial-gradient(farthest-side, var(--g2)) calc(-1 * var(--R)) 0,
    radial-gradient(farthest-side, var(--g1))
      calc(var(--R) - 0.866 * var(--R) - var(--R))
      calc(var(--R) + 0.5 * var(--R) - var(--R));
  background-size: calc(2 * var(--R)) calc(2 * var(--R));
  background-repeat: no-repeat;
}

.custom_loader::after {
  transform: rotate(180deg);
  transform-origin: right;
}

@keyframes s10 {
  100% {
    transform: rotate(-1turn);
  }
}

.password_input {
  position: relative;
}

.password_toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.password_toggle:before {
  font-family: "FontAwesome";
  content: "\f070";
  font-weight: normal;
}

.password_toggle.active:before {
  content: "\f06e";
}
