.InputContainer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  cursor: pointer;
  padding-left: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  margin-left: 150px;
  position: relative;
  width: 480px;
}

.input {
  width: 1000px;
  height: 100%;
  border: none;
  outline: none;
  font-size: 0.9em;
  caret-color: rgb(255, 81, 0);
}

.labelforsearch {
  cursor: text;
  padding: 0px 12px;
}

.searchIcon {
  width: 13px;
}

.searchButton {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.dropdown {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 99;
}

.dropdown:empty {
  border: none;
}

.dropdown_row {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.dropdown_image {
  width: 40px;
  height: 60px;
  object-fit: cover;
  margin-right: 10px;
}

.dropdown_row span {
  font-size: 12px;
}
