.not_found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  background-color: transparent;
}

.not_found__title {
  font-size: 6rem;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.not_found__message {
  margin-top: 1rem;
  font-size: 2rem;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.not_found__button {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: rgb(0, 211, 141);
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.not_found__button:hover {
  background-color: #0c8;
}

.not_found__button:active {
  background-color: #095;
}
